.dialog {
  z-index: 1000;
  position: absolute;
  width: 500px;
  height: 500px;
  top: 100px;
  left: calc(50% - 250px);

  background: image-url('dialog.png');

  .content {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 480px;

    color: #ffefe6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
  }
}

.dialog_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.finish.dialog {
  .text {
    strong{
      color: #ff914d;
    }
  }
  .score {
    color: #ff914d;
    font-size: 40px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 150px;
    margin: 20px auto;
  }

  .scores {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    margin: 20px auto;

    .current {
      color: #ff914d;
      font-weight: bold;
    }
  }

  button {
    width: 150px;
    height: 60px;
    line-height: 55px;
    color: white;
    border: none;
    background: image-url("button.png") transparent no-repeat;
    text-shadow: 1px 1px 2px black;
  }

  .replay {
    font-size: 30px;
  }

  input[type=text]{
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
    padding: 3px;
  }

  .save {
    font-size: 22px;
  }
}